In [22]:
import pandas as pd
import scipy as sp
# 表示桁数の指定
%precision 3

'%.3f'

In [23]:
fish_multi = pd.read_csv("./data/3-2-1-fish_multi.csv")
print(fish_multi)
fish_multi.columns[0]

  species  length
0       A       2
1       A       3
2       A       4
3       B       6
4       B       8
5       B      10

'species'

In [24]:
# 魚の種類ごとに統計量を算出
group = fish_multi.groupby('species')
print(group.mean())
print(group.std(ddof=1))

         length
species
 A            3
 B            8
         length
species
 A          1.0
 B          2.0

In [25]:
# 統計量をグループごとにまとめて出力
group.describe()

        length
         count mean  std  min  25%  50%  75%   max
species
 A         3.0  3.0  1.0  2.0  2.5  3.0  3.5   4.0
 B         3.0  8.0  2.0  6.0  7.0  8.0  9.0  10.0

In [26]:
shoes = pd.read_csv("./data/3-2-2-shoes.csv")
print(shoes)

   store color  sales
0  tokyo  blue     10
1  tokyo   red     15
2  osaka  blue     13
3  osaka   red      9

In [27]:
cross = pd.pivot_table(
data = shoes,
values="sales",
aggfunc="sum",
index="store",
columns="color")

print(cross)

color  blue  red
store
osaka    13    9
tokyo    10   15

In [28]:
# 共分散
cov_data = pd.read_csv("./data/3-2-3-cov.csv")
print(cov_data)

      x   y
0  18.5  34
1  18.7  39
2  19.1  41
3  19.7  38
4  21.5  45
5  21.7  41
6  21.8  52
7  22.0  44
8  23.4  44
9  23.8  49

In [29]:
# データの取り出し
x = cov_data["x"]
y = cov_data["y"]
#サンプルサイズ
N = len(cov_data)
# 平均値
mu_x = sp.mean(x)
mu_y = sp.mean(y)
# 共分散
cov_sample = sum((x - mu_x) * (y - mu_y)) / N
print(cov_sample)
cov = sum((x - mu_x) * (y - mu_y)) / (N - 1)
print(cov)

6.9060000000000015
7.673333333333336

In [31]:
# 分散共分散行列
print(sp.cov(x, y, ddof=0))
print(sp.cov(x, y, ddof=1))

[[ 3.282  6.906]
 [ 6.906 25.21 ]]
[[ 3.646  7.673]
 [ 7.673 28.011]]

In [32]:
# ピアソンの積率相関係数

# 分散
sigmma_2_x = sp.var(x, ddof=1)
sigmma_2_y = sp.var(y, ddof=1)

# 相関係数
rho = cov / sp.sqrt(sigmma_2_x * sigmma_2_y)
rho

0.759

In [33]:
# 分子と分母で同じNorN-1でわっているので、相関係数はサンプルサイズに寄らない
sigmma_2_x_sample = sp.var(x, ddof=0)
sigmma_2_y_sample = sp.var(y, ddof=0)

cov_sample / sp.sqrt(sigmma_2_x_sample * sigmma_2_y_sample)

0.759

In [34]:
# 相関行列
sp.corrcoef(x, y)

array([[1.   , 0.759],
       [0.759, 1.   ]])